p{
    background-color: aqua center;
    background-image: url(ccc.jfif);
    /* background-position: cover */
    background-position: center;
    background-repeat: no-repeat;
    color: red;
    text-align: center;
    background-blend-mode: multiply;
}

h2{
    color: red;
    background-image: url(marrige.jfif);
    /* background-position: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-color: hotpink center;
    background-blend-mode: multiply;
    text-align: center;
}
h